* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    132deg,
    rgb(221, 221, 221) 0%,
    rgb(110, 136, 161) 100%
  );
}

.slider-container {
  /* position: relative; */
  margin: 50px;
}

.slider {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-hero {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  padding: 50px;
  width: 90%;
  height: 400px;
  display: none;
}

.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 20px;
  cursor: pointer;
}

.next {
  left: 96%;
}

/* Adding Style to search bar */

.navbar-custom .form-control {
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid white;
  margin-left: 80px;
  width: 500px;
}

/* Adding style to icons */

.navbar-nav i {
  font-size: 1rem;
}

/* Adding Animation to favourites */

.bi-heart-fill {
  color: rgb(163, 159, 159);
  transition: color 0.3s ease-in-out;
}

.bi-heart-fill:hover {
  color: red;
  cursor: pointer;
}

.bi-heart:active {
  transform: scale(1.5);
}

.cartfav:hover {
  transform: scale(1.3);
}

/* Adding Animation to cart */

.bi-cart-fill {
  color: rgb(163, 159, 159);
  transition: color 0.3s ease-in-out;
}

.bi-cart-fill:hover {
  color: rgb(87, 87, 255);
  cursor: pointer;
}

.bi-cart:active {
  transform: scale(1.5);
}

/* Adding media query to search */

@media (max-width: 986px) {
  .navbar-custom .form-control {
    width: auto;
    margin-left: 0px;
  }
  .navbar-nav {
    align-items: center;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
    transform: scale(1.8);
  }
}

/* #product div img{ */
/* #product div img{
  width: 150px;
} */
/* #product{
  display: flex;
  justify-content: space-between;
} */

/* #product div{
  margin: 15px;
  border: 1px solid black;
}
} */

#Featured-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#Featured-categories a h5 {
  text-align: center;
}

#Featured-categories a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.fCatCard img {
  width: 200px;
  height: 300px;
}

.fCatCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 200px;

  margin: 15px;
  padding-top: 20px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 5px 5px 15px black;
}

#most-purchased {
  overflow: hidden;
  /* flex-wrap: nowrap; */
}

/*  */

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 250px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  /* overflow: hidden; */
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: fill;
}

.card-text {
  height: 5.5vw;
  overflow: auto;
}

/* Search Bar CSS */


#results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product h3 {
  margin: 10px 0;
  font-size: 18px;
}

.product p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #007bff;
}

