body {
  background: linear-gradient(
    132deg,
    rgb(221, 221, 221) 0%,
    rgb(110, 136, 161) 100%
  );
}

.card {
  box-shadow: rgba(0, 0, 0, 0.091) 0px 5px 15px;
  padding: 5px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 95vw;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: fill;
}

.card-text {
  height: 5.5vw;
  overflow: auto;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageShadow {
  box-shadow: rgba(0, 0, 0, 0.091) 0px 5px 15px;
  height: 250px;
  padding: auto;
}
