body {
  background: linear-gradient(
    132deg,
    rgb(221, 221, 221) 0%,
    rgb(110, 136, 161) 100%
  );
}

.card {
  box-shadow: rgba(0, 0, 0, 0.091) 0px 5px 15px;
  padding: 5px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 95vw;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: fill;
}

.card-text {
  height: 5.5vw;
  overflow: auto;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageShadow {
  box-shadow: rgba(0, 0, 0, 0.091) 0px 5px 15px;
  height: 250px;
  padding: auto;
}

.logoCompany {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.logoCompany img {
  height: 40px;
  width: 40px;
}

/* Cart styling */

#cart {
  height: 100vh;
  width: 35vw;
  background-color: white;
  position: fixed;
  right: -600px;
  top: 0;
  z-index: 1;
  padding: 25px;
  backdrop-filter: blur(200px);
  overflow: scroll;
  transition: right 500ms ease-in-out;
}

#cart #top #close {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background-color: black;
  font-size: 21px;
  border-radius: 50%;
  width: 35px;
  color: white;
}

#cart #top #msg {
  background-color: lightgreen;
  text-align: center;
  width: 430px;
  border: 2px solid green;
  border-radius: 20px;
  padding: 5px;
  margin-top: 15px;
}

#placeOrder {
  background-color: orangered;
  color: white;
  border-radius: 30px;
  padding: 5px;
  width: 30%;
  font-size: 18px;
  margin: 15px;
  position: absolute;
  right: 15px;
  top: 80px;
}

.cart-items {
  display: flex;
  justify-content: space-between;
}

.cart-items img {
  width: 100px;
}

.cart-items .price {
  text-decoration: line-through;
}

.icon-style {
  height: 40px;
  margin-left: 20px;
}

.icon-style:hover {
  transform: scale(0.8);
}

/* Adding Animation to favourites */

.bi-heart-fill {
  color: rgb(163, 159, 159);
  transition: color 0.3s ease-in-out;
}

.bi-heart-fill:hover {
  color: red;
  cursor: pointer;
}

.bi-heart:active {
  transform: scale(1.5);
}

.cartfav:hover {
  transform: scale(1.3);
}

/* Adding Animation to cart */

.bi-cart-fill {
  color: rgb(163, 159, 159);
  transition: color 0.3s ease-in-out;
}

.bi-cart-fill:hover {
  color: rgb(87, 87, 255);
  cursor: pointer;
}

.bi-cart:active {
  transform: scale(1.5);
}
